nbproject/private/
*.class

# Package Files #
*.jar
*.war
*.ear
/71_experiments/SolutionMarker/build/
nbproject/private/*
/71_experiments/Anagrams/nbproject/private/
/71_experiments/Anagrams/build/
/71_experiments/AnagramGame/nbproject/private/
/71_experiments/Anagrams/
/71_experiments/Tetris/nbproject/private/
/71_experiments/Tetris/build/
/71_experiments/Pacman/nbproject/private/
/71_experiments/Pacman/build/
/71_experiments/Breakout/nbproject/private/
/71_experiments/Breakout/build/
/71_experiments/BreakOutPlugin/nbproject/private/
/71_experiments/BreakOutPlugin/build/
/71_experiments/Breakout/dist/
/71_experiments/BreakOutPlugin3/nbproject/private/
/71_experiments/BreakOutPlugin3/build/
/71_experiments/PacMan2/nbproject/private/
/71_experiments/PacMan2/build/
/71_experiments/MyWonderfullSample/nbproject/private/
/71_experiments/WonderfullSamples/nbproject/private/
/71_experiments/WonderfullSamples/build/
/71_experiments/ServletStateless/nbproject/private/
/71_experiments/ServletStateless/build/

